/* 애니메이션 셋팅 */
.close.sub,
.scrollBar,
.current.sub,
.subBgSlider .split {
    opacity: 0;
}

.sub__center>.subTitle {
    opacity: 0;
}

.bgSliderWrap.sub .split {
    opacity: 0;
}

/* scrollBar */
.scrollBar {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: 200px;
    height: 1px;
    z-index: 1000;
}

.scrollBar progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}

.scrollBar progress::-webkit-progress-bar {
    background: transparent;
}

.scrollBar progress::-webkit-progress-value {
    background: linear-gradient(to left, #fff, #fff);
    background-attachment: fixed;
}

.scrollBar progress::-moz-progress-bar {
    background: linear-gradient(to left, #fff, #fff);
    background-attachment: fixed;
}

/* sub */
#subMainSlider {
    display: none;
    transform: translateX(-100%);
}

.subPage {
    position: fixed;
    bottom: 45px;
    left: 40px;
    color: var(--white);
    z-index: 1000;
    height: 24px;
    overflow: hidden;
}

.subPage .current {
    display: block;
    font-size: 1rem;
    font-family: var(--font-gmarket);
}

.sub__center {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    z-index: 2;
}

.sub__center .text {
    position: absolute;
    left: 0;
    padding-left: 40px;
}

.sub__center .titleWrap {
    height: 72px;
    overflow: hidden;
    margin-bottom: 20px;
}

.sub__center .subTitle {
    font-size: 48px;
    font-family: var(--font-noto);
    font-weight: 700;
    opacity: 0;
}

.sub__center .subDesc {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-arita);
}

.sub__center .subDesc span {
    opacity: 0;
}

.sub__bottom {
    height: 20%;
}

/* subBgSlider */
.subBgSlider {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.subBgSlider.s1 {
    background-image: url(https://images.unsplash.com/photo-1659469378420-e68c6ee21a28?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) !important;
    transition: background-image 3s ease;
}

.subBgSlider.s2 {
    background-image: url(https://images.unsplash.com/photo-1689885098818-6178417e94ba?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.subBgSlider.s3 {
    background-image: url(https://images.unsplash.com/photo-1667167024874-f056da3a9b59?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.subBgSlider.s4 {
    background-image: url(https://images.unsplash.com/photo-1690321607822-669326f4e3cc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.subBgSlider.s5 {
    background-image: url(https://images.unsplash.com/photo-1692891259833-9832c3ca751e?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* 페이지전환용 */
.subBgSlider.next2 {
    background-image: url(https://images.unsplash.com/photo-1689885098818-6178417e94ba?q=80&w=2127&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    transition: background-image 3s ease;
}

.subBgSlider.next3 {
    background-image: url(https://images.unsplash.com/photo-1667167024874-f056da3a9b59?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    transition: background-image 3s ease;
}

.subBgSlider.next4 {
    background-image: url(https://images.unsplash.com/photo-1690321607822-669326f4e3cc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    transition: background-image 3s ease;
}

.subBgSlider.next5 {
    background-image: url(https://images.unsplash.com/photo-1692891259833-9832c3ca751e?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    transition: background-image 3s ease;
}

.subBgSliderWrap {
    width: 500vw;
    height: 100vh;
    display: flex;
}

.subBgSliderWrap section {
    width: 100vw;
    height: 100vh;
    padding: 0 40px;
    box-sizing: border-box;
}

.subBgSliderWrap section.s1 {
    background-color: transparent;
}

.subBgSliderWrap section.s3 {
    width: 300vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(75px);
    display: flex;
}

/* pageSection */
.pageSection {
    width: 30vw;
    height: 100%;
    font-size: 200px;
    color: var(--white);
    text-align: left;
    font-family: var(--font-gmarket);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

/* info */
.info {
    font-size: 1rem;
    font-family: var(--font-gmarket);
    width: 30vw;
    height: 100%;
    padding: 0 5vw 12vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
}

.info__inner h2 {
    font-size: 14px;
    font-family: var(--font-gmarket);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.info__inner p,
.info__inner h3 {
    color: var(--white);
    font-size: 16px;
    font-weight: 200;
    font-family: var(--font-mono);
}

.info__inner h2,
.info__inner .coding,
.info__inner .workTime {
    margin-bottom: 40px;
}

.info__inner h2.mPageSection {
    display: none;
}

.info a {
    position: relative;
    color: var(--white);
}

.info a i {
    font-size: 16px;
    font-weight: 200;
    font-family: var(--font-mono);
    margin-right: 0.5vw;
}

.info a svg {
    width: 0.8rem;
    height: 0.8rem;
}

/* desc */
.section.s3 .desc {
    width: 50vw;
    height: 100%;
    font-family: var(--font-arita);
    font-size: 1.1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: flex-end;
    padding: 0 5vw 12vh;
    box-sizing: border-box;
}

.section.s3 .desc .desc__inner h2 {
    font-size: 14px;
    font-family: var(--font-gmarket);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5vh;
}

.section.s3 .desc .desc__inner span,
.section.s3 .desc .desc__inner p {
    color: var(--white);
    font-size: 1rem;
    font-family: var(--font-arita);
    font-weight: 500;
}

.section.s3 .desc .desc__inner span {
    display: block;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 5px;
}

.section.s3 .desc .desc__inner p {
    margin-bottom: 2vh;
}

.section.s3 .desc .desc__inner p:last-child {
    margin-bottom: 0;
}

/* trouble */
.section.s3 .trouble {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 1rem;
    padding: 0 5vw 12vh;
    box-sizing: border-box;
}

.section.s3 .trouble .trouble__inner h2 {
    font-family: var(--font-gmarket);
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4vh;
}

.section.s3 .trouble .trouble__inner h3 {
    text-decoration: underline;
    text-underline-position: under;
}

.section.s3 .trouble .trouble__inner h3,
.section.s3 .trouble .trouble__inner p {
    font-family: var(--font-arita);
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}

.section.s3 .trouble .trouble__inner p {
    margin-bottom: 2vh;
}

.section.s3 .trouble .trouble__inner p:last-child {
    margin-bottom: 0;
}

.section.s3 .hljs {
    font-family: var(--font-d2);
    padding: 0;
}

/* comment */
.section.s3 .comment {
    width: 40vw;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 1rem;
    padding: 0 5vw 12vh;
    box-sizing: border-box;
}

.section.s3 .comment>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section.s3 .comment>div>.repleList,
.section.s3 .comment>div>.repleWrite {
    width: 100%;
}

.section.s3 .comment>div>.repleList {
    overflow-y: scroll;
    position: relative;
}

/* .section.s3 .comment>div>.repleList::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
} */

.section.s3 .repleList li {
    width: 100%;
}

.section.s3 .repleList li .modifyForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section.s3 .repleList li .modifyForm input[name="modifyCont"],
.section.s3 .repleList li .cont {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-family: var(--font-arita);
    padding: 1rem;
    border-radius: 10px;
    line-height: 1.6;
    margin: 5px 0;
    border: 2px solid transparent;
}

.section.s3 .repleList li .modifyForm input[name="modifyCont"] {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.section.s3 .repleList li .modifyForm .modfiyBottom {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    position: relative;
}

.section.s3 .repleList li .modifyForm .modfiyBottom input[name="modifyPass"] {
    width: 100%;
    padding: 5px;
    color: var(--white);
    font-size: 1rem;
    border-radius: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: transparent
}

.section.s3 .repleList li .modifyForm .modfiyBottom input[name="modifyPass"]:focus {
    outline: 0;
    border-color: rgba(255, 255, 255, 0.5);
}

.section.s3 .repleList li .modifyForm .modfiyBottom .modifyForm__btn {
    display: flex;
    width: 30%;
    position: absolute;
    right: 0;
}

.section.s3 .repleList li .modifyForm .modfiyBottom .modifyForm__btn button {
    width: 49.5%;
    padding: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.15);
    font-size: 1rem;
    font-family: var(--font-gmarket);
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s;
}

.section.s3 .repleList li .modifyForm .modfiyBottom .modifyForm__btn button:hover {
    color: rgba(255, 255, 255, 0.5);
}

.section.s3 .repleList li .author {
    text-align: right;
    font-size: 0.8rem;
    color: var(--black500);
    font-family: var(--font-gmarket);
    font-weight: 300;
    position: relative;
}

.section.s3 .repleList li .author .date {
    display: inline-block;
    padding: 0 5px;
}

.section.s3 .repleList li .author .edit {
    display: inline-block;
    cursor: pointer;
}

.section.s3 .repleList li .author .modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -50px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    border-radius: 2px;
}

.section.s3 .repleList li .author .modal>p {
    cursor: pointer;
}

.section.s3 .repleWriteHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section.s3 .repleWriteHeader .author,
.section.s3 .repleWriteHeader .password {
    width: 49.5%;
}

.section.s3 .repleWriteBottom input,
.section.s3 .repleWriteHeader .author input,
.section.s3 .repleWriteHeader .password input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: var(--white);
    font-size: 1rem;
    font-family: var(--font-gmarket);
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.section.s3 .repleWriteBottom input:focus,
.section.s3 .repleWriteHeader .author input:focus,
.section.s3 .repleWriteHeader .password input:focus {
    outline: 0;
    border-color: rgba(255, 255, 255, 0.5);
}

.section.s3 .repleWriteBottom {
    position: relative;
}

.section.s3 .repleWriteBottom input {
    padding-right: 40px;
}

.section.s3 .repleWriteBottom button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.15);
    font-family: var(--font-gmarket);
    cursor: pointer;
    transition: color 0.3s;
}

.section.s3 .repleWriteBottom button:hover {
    color: rgba(255, 255, 255, 0.5);

}

/* subNext */
.section.s3 .subNext {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    box-sizing: border-box;
}

.section.s3 .subNext .subNext__inner {
    width: 100%;
}

.section.s3 .subNext .subNext__inner a {
    position: relative;
    color: var(--white);
    font-size: 16px;
    font-family: var(--font-mono);
}

.section.s3 .subNext .subNext__inner h2 {
    display: flex;
    justify-content: space-between;
}

.section.s3 .subNext .subNext__inner h2 a {
    font-family: var(--font-noto);
    font-size: 60px;
}

.section.s3 .subNext .subNext__inner h2 svg {
    width: 2vw;
    fill: var(--white);
}


@media(max-width: 800px) {
    .close {
        top: 15px;
        left: 20px;
    }

    .about {
        top: 15px;
        right: 20px;
    }

    .center__text {
        width: 100%;
    }

    .mainSlider__center>.center__text>.titleSlider>.titleWrap>.title {
        color: var(--white);
        font-size: 32px;
    }

    .subBgSliderWrap section {
        padding: 0 20px;
    }

    .sub__center .subDesc {
        font-size: 0.9rem;
    }

    .sub__center .text {
        padding-left: 20px;
    }

    /* section */
    .subBgSliderWrap {
        width: 600vw;
    }

    .subBgSliderWrap section.s3 {
        width: 400vw;
    }

    .pageSection {
        display: none;
    }

    /* info */
    .section.s3 .info {
        font-size: 1rem;
        width: 50vw;
    }

    .info__inner h2.mPageSection {
        display: inline-block;
        color: var(--white);
        font-size: 25vw;
    }

    /* desc */
    .section.s3 .desc {
        width: 100vw;
        font-size: 1rem;
        padding-right: 2vw;
    }

    .section.s3 .desc .desc__inner p {
        font-size: 1rem;
    }

    /* trouble */
    .section.s3 .trouble {
        width: 100vw;
        padding-left: 5vw;
    }

    .section.s3 .trouble pre {
        width: 90vw;
    }

    .section.s3 .trouble .trouble__inner h3,
    .section.s3 .trouble .trouble__inner p {
        font-size: 1rem;
    }

    .sub__center .trouble .trouble__inner p {
        font-size: 0.8rem;
    }

    .section.s3 .subNext {
        display: none;
    }

    .section.s3 .comment {
        width: 90vw;
        border-right: 0;
    }

}