/* 임시 */
.mainSlider__center>.center__text>.descSlider {
    display: none;
}

/* main */
#main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.pause {
    /* cursor: pointer; */
}

/* mouse */
.mouse__cursor {
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: var(--white);
    transform: scale(0);
    opacity: 0;
    z-index: 1001;
    /* transition: all 0.3s; */
}

.mouse__cursor.active {
    transform: scale(1);
    opacity: 1;
}


/* bgSliderWrap */
.bgSlider {
    /* position: fixed;
    top: 0;
    right: 0; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bgSliderWrap {
    width: 500%;
    height: 100vh;
    display: flex;
}

.bgSliderWrap>a {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
}

.bgSliderWrap .slider {
    width: 100%;
    height: 100vh;
    transform: scale(1.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgSliderWrap.sub .slider {
    transform: scale(1);
}

.bgSliderWrap .slider.s1 {
    background-image: url(https://images.unsplash.com/photo-1659469378420-e68c6ee21a28?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.bgSliderWrap .slider.s2 {
    background-image: url(https://images.unsplash.com/photo-1698191373970-228c25ee6fd0?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.bgSliderWrap .slider.s3 {
    background-image: url(https://images.unsplash.com/photo-1658409009905-00a0f737bdf3?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.bgSliderWrap .slider.s4 {
    background-image: url(https://images.unsplash.com/photo-1695883701435-7bd88f796e05?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.bgSliderWrap .slider.s5 {
    background-image: url(https://images.unsplash.com/photo-1629948618343-0d33f97a3091?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* mainSlider */
.mainSlider {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    padding: 35px 40px 45px;
    background-color: var(--white);
    box-sizing: border-box;
    z-index: 1000;
}

/* mainslider__menu */
.mainSlider__menu {
    width: calc(100% - 80px);
    background-color: var(--white);
    position: absolute;
    top: 67px;
    z-index: 2;
}

.menu__background {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
}

.mainSlider__menu .nav {
    overflow: hidden;
}

.mainSlider__menu .wrapper {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}

.mainSlider__menu .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainSlider__menu .body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.mainSlider__menu a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

.mainSlider__menu p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: 5vw;
    font-family: var(--font-mr);
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 300;
}

.mainSlider__menu .footer {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 40px;
}

.mainSlider__menu ul {
    width: 50%;
    margin-top: 10px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}

.mainSlider__menu li span {
    color: #9f9689;
}

@media(min-width: 1000px) {
    .wrapper {
        margin-bottom: 0px;
        justify-content: space-between;
    }
}

/* top */
.mainSlider__top {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.mainSlider__top>.logo {
    overflow: hidden;
}

.mainSlider__top>.logo>a {
    display: block;
    font-size: 18px;
    font-family: var(--font-gmarket);
}

.mainSlider__top>.pause {
    font-size: 18px;
    font-family: var(--font-gmarket);
}

.mainSlider__top>.burger>svg {
    width: 27px;
    height: 27px;
}

/* .mainSlider__top>.burger {
    width: 22.5px;
    height: 22.5px;
    position: relative;
    pointer-events: none;
}

.mainSlider__top>.burger::after,
.mainSlider__top>.burger::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: black;
    position: relative;
    display: block;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
} */

.mainSlider__top>.burger::after {
    top: 8px;
}

.mainSlider__top>.burger::before {
    top: 0px;
}

/* center */
.mainSlider__center {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
}

.mainSlider__center>.center__text {
    z-index: 1;
}

.mainSlider__center>.center__text>.titleSlider {
    height: 55px;
    overflow: hidden;
}

/* .mainSlider__center>.center__text>.titleSlider>.titleWrap {
    position: relative;
} */

/* .titleWrap>.title {
    font-size: 48px;
    font-family: var(--font-noto);
    font-weight: 700;
} */

.mainSlider__center>.center__text>.titleSlider>.titleWrap>.title {
    font-size: 48px;
    font-family: var(--font-noto);
    font-weight: 700;
    /* 테스트 */
    /* position: absolute;
    top: 0;
    left: 0; */
}

.mainSlider__center>.center__text>.titleSlider>.titleWrap>.title a {
    font-size: 48px;
    font-family: var(--font-noto);
    font-weight: 700;
}

.mainSlider__center>.center__text>.titleSlider>.titleWrap>.title a span {
    font-family: var(--font-noto);
}

.mainSlider__center>.center__text>.descSlider {
    height: 24px;
    overflow: hidden;
}

.mainSlider__center>.center__text>.descSlider>.descWrap>.desc {
    font-size: 16px;
    font-family: var(--font-gmarket);
}

.mainSlider__center>.center__img {
    position: absolute;
    width: 250px;
    height: 410px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.mainSlider__center>.center__img>.centerSliderWrap {
    width: 100%;
    height: 500%;
}

.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider>a {
    display: block;
}

.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s4>a>img {
    transform: translateX(-50%);
}

.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider>a>img {
    width: 1920px;
    height: 1080px;
}


/* bottom */
.mainSlider__bottom {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mainSlider__bottom>.page {
    display: flex;
    font-size: 16px;
    font-family: var(--font-gmarket);
    height: 24px;
    overflow: hidden;
}

.mainSlider__bottom>.page>.current {
    display: flex;
    flex-direction: column;
}

.mainSlider__bottom>.page>.current>span,
.mainSlider__bottom>.page>span {
    display: inline-block;
}

.pageLine {
    margin: 0 8px;
}

.mainSlider__bottom>.scroll__text {
    font-family: var(--font-gmarket);
    font-size: 16px;
    overflow: hidden;
}

.mainSlider__bottom>.scroll__arrow {
    transform: translate(90deg);
    transform: translateX(40%);
}

.mainSlider__bottom>.scroll__arrow>div>svg {
    height: 12px;
}

@media(max-width: 800px) {
    .mainSlider {
        width: 100%;
        padding: 15px 20px 25px;
    }

    .mainSlider__center {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .mainSlider__center>.center__text>.titleSlider {
        height: 50px;
    }

    .mainSlider__center>.center__text>.titleSlider>.titleWrap>.title a {
        font-size: 32px;
        color: var(--white);
    }

    .mainSlider__center>.center__text>.descSlider {
        display: none;
    }

    /* .mainSlider__center>.center__text>.descSlider>.descWrap>.desc {
        font-size: 16px;
        color: var(--white);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    } */

    .mainSlider__menu {
        width: calc(100% - 40px);
    }
}